@media(max-width: 1200px){
 .bottom__btn{
   margin-bottom: 30px;
 }
 .footer__left img{
   margin-bottom: 15px;
 }
 .footer__list{
   align-items: flex-start;
 }
}
@media(max-width:992px){
  .scale__content{
    display: block;
    margin: auto;
  }
  .header__content{
    flex-wrap: wrap;
    justify-content: space-center;
  }
  .header__link{
    margin-left: 0;
    margin-right: 10px;
  }
  .zoom__text{
    font-size: 18px;
    width: 85%;
  }
}
@media(max-width: 699px){
  .title{
    font-size: 22px;
    line-height: 20px;
  }
  .main__title{
    font-size: 24px;
  }
  .main__text{
    font-size: 16px;
    width: 80%;
    
  }
  .button{
    width: 300px;
    height: 50px;
  }
  .header__link{
    font-size: 12px;
  }
  .text{
    font-size: 12px;
  }
  .personal__img{
    width: 350px;
    height: 250px;
  }
  .personal__title{
    font-size: 22px;
  }
  .personal__text{
    font-size: 12px;
  }
  .scale__title{
    font-size: 15px;
  }
  .scale__text{
    font-size: 12px;
  }
}
@media(max-width: 474px){
  .stages__img{
    width: 70%;
  }
  .bootom__title{
    font-size: 14px;
  }
  .bootom__text{
    font-size: 12px;
    width: 300px;
  }
}
@media(max-width: 383px){
  .text{
    width: 70%;
  }
  .personal__img{
    width: 300px;
    height: 190px;
  }
  .footer__link{
    font-size: 12px;
  }
 
}